.stonestyle {
  width: 75%; /* Adjusted to fit within the cell */
  height: 75%;
  cursor: pointer;
}

.stonestyle:hover {
  border: solid 2px rgb(35 73 35);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.candidatestonestyle {
  width: 35%; /* Adjusted to fit within the cell */
  height: 35%;
  cursor: pointer;
  animation:
    fade-in 1s ease-in-out,
    blink 1.5s 2s infinite; /* 0.75s ではなく 1.5s に設定して同期を確実に */
}

.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5%; /* 1/8 of the board width */
  height: 10.5%; /* 1/8 of the board height */
  margin: 1%;
  background-color: rgb(35 73 35);
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 80vh;
  height: 80vh;
}

@media (width <= 1200px) {
  .board {
    width: 75vh;
    height: 75vh;
  }
}

@media (width <= 900px) {
  .board {
    width: 60vh;
    height: 60vh;
  }
}

@media (width <= 600px) {
  .board {
    width: 45vh;
    height: 45vh;
  }
}

@media (width <= 400px) {
  .board {
    width: 30vh;
    height: 30vh;
  }
}
