.cellstyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: dotted 1px;
  border-color: black;
}

.stonestyle {
  width: 56px;
  height: 56px;
  cursor: pointer;
  background-color: white;
}

.board {
  display: flex;
  flex-wrap: wrap;
}
